.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
}

.login-form .head{
  text-align: center;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-form select,
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #45a049;
}

.login-form .option {
  margin-bottom: 20px;
}

.login-form .credentials {
  display: flex;
  flex-direction: column;
}

.login-form .credentials label {
  margin-bottom: 10px;
}

.login-form .credentials input {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .login-form {
    padding: 30px;
    margin-top: 15rem;
  }
}

