.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .option{
    padding: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  select {
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
  }
  
  .credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    border: 1px solid black;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
  }
  
  button {
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .login-form {
      margin-top: 30px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      margin-left: 0;
    }
  }